<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>mvregion</title>
</head>

<body>
<form action="/operation/mvjar" method="post" enctype="multipart/form-data">
    <h1>间接部署</h1>
    <p>账户：<input type="text" name="user"/></p>
    <p>密码：<input type="password" name="password"/><br/></p>

    <p>region_from：<input type="text" name="region_from"/><br/></p>
    <p>region_to  ：<input type="text" name="region_to"/><br/></p>
    <p>deploy(platform,mt_commons,signal*)：<input type="text" name="dataType"/><br/></p>
    <p><button type="submit">提交</button></p>
</form>
</body>
</html>